@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --primary-font: "Rubik", sans-serif;

    /*COLORS*/
    --first-bg:#E7D1BB;
    --second-bg:#c8b39e;
    --third-bg:#84725e;
    --accent-first:#A096A5;
    --accent-second: #463e4b;
    --text-first:#A096A2;
    --text-second:#fefefe /*#847a86*/;
    --bg-first:#151931;
    --bg-second:#252841;
    --bg-third:#3d3f5b;
      
}